html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid #f2f2f2;
}

main {
  height: 80%;
  margin: 0 5%;
  text-align: center;
}

footer {
  border-top: 1px solid #f2f2f2;
}

header,
footer {
  height: 10%;
  border-bottom: 1px solid #dad9d7;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
  height: 50px;
}

/* button styles //////////////////////////////////////////////////////////////////*/

button {
  background-color: #28c7c9;
  padding: 16px;
  font-weight: bold;
  border: none;
  box-shadow: -5px 5px #fecd32;
}

/* options page ////////////////////////////////////////////////////////////////////*/

.options-btn-flex-div {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

/* ///////////////////////*/

.name-input-flex {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 50px auto 0 auto;
}

input {
  border: 2px solid #bfccd3;
  padding: 4px;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

input:focus {
  border: none;
  box-shadow: 0 0 15px 1px #fecd32;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 5px;
}

/* Media queries ******************************************************************************************/

@media screen and (min-width: 725px) {
}

@media screen and (min-width: 1000px) {
}
