body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  
.header-flex,
.footer-flex {
  height: 100%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-flex {
  border-bottom: 1px solid #dad9d7;
}

.footer-flex {
  border-top: 1px solid #dad9d7;
}

header,
footer {
  height: 10%;
}

img {
  max-width: 148px;
  max-height: 43px; 
  /*
  width: 296px;
  height: 86px;
  */
}

main {
  height: 80%;
}

.main-flex {
  margin: 60px 10% 0 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1, 
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
}

h2,
label {
  font-size: 1.2em;
  margin: 0;
}

h3,
button {
  margin: 0;
  font-size: 0.95em;
}

.enter-exit-btn-flex {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.enter-exit-btn-flex button {
  margin: 60px auto 0 auto;
}

.name-flex {
  display: flex;
  width: fit-content;
  align-items: center;
}

.name-flex:first-of-type {
  margin: 60px auto 0 auto;
}

.name-flex,
button {
  margin: 30px auto 0 auto;
}

.name-flex h3 {
  color: #54565a;
  margin-right: 8px;
  font-size: 0.95em;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
  transition: box-shadow 0.2s ease-in-out;
}

input:focus {
  border: none;
  box-shadow: 0 0 15px 1px  #6acac5;
}

button {
  width: fit-content;
  padding: 10px 30px;
  background: #6acac5;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #5aa8a4;
}

.go-back-btn {
  margin: 60px auto 0 auto;
}

.thank-you {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 30px auto 0 auto;
}

li {
  margin-top: 5px;
  font-size: 0.8em;
}

/* Media queries ******************************************************************************************/

@media screen and (min-width: 700px) {
  .enter-exit-btn-flex {
    width: 75%;
    margin: 0 12.5% 0 12.5%;
  }
}

@media screen and (min-width: 725px) {
  .enter-exit-btn-flex {
    width: 70%;
    margin: 0 15% 0 15%;
  }
}

@media screen and (min-width: 750px) {
  .enter-exit-btn-flex {
    width: 65%;
    margin: 0 17.5% 0 17.5%;
  }
}

@media screen and (min-width: 775px) {
  .enter-exit-btn-flex {
    width: 60%;
    margin: 0 20% 0 20%;
  }
}

@media screen and (min-width: 800px) {
  .enter-exit-btn-flex {
    width: 55%;
    margin: 0 22.5% 0 22.5%;
  }
}

@media screen and (min-width: 900px) {
  .enter-exit-btn-flex {
    width: 50%;
    margin: 0 25% 0 25%;
  }
}

@media screen and (min-width: 1000px) {
  .enter-exit-btn-flex {
    width: 45%;
    margin: 0 27.5% 0 27.5%;
  }
  h2,
label {
  font-size: 1.4em;
}

h3,
button,
.name-flex h3 {
  font-size: 1em;
}
.name-flex h3 {
  margin-right: 9px;
}
  li {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1100px) {
  .enter-exit-btn-flex {
    width: 40%;
    margin: 0 30% 0 30%;
  }
  h2,
label {
  font-size: 1.5em;
}

h3,
button,
.name-flex {
  font-size: 1.1em;
}
.name-flex h3 {
  margin-right: 10px;
}
  li {
    font-size: 1em;
  }
}

@media screen and (min-width: 1300px) {
  .enter-exit-btn-flex {
    width: 35%;
    margin: 0 32.5% 0 32.5%;
  }
}
