
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <div class="main-flex">
                <h2>Thank you</h2>
                <h3 class="enjoy-text">Enjoy your visit!</h3>         
                <button class="go-back-btn" onclick="location.href='/'">Back to home</button>
            </div>
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>
