
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <h2>Thank you, you were successfully added to the fire register.</h2>
            <button><a href="/">Go back to home page</a></button> 
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>
