<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <h3>Thank you, you have now left the building.</h3>
      <h3>We hope you enjoyed your visit.</h3>
      <button onclick="location.href='/'">
        Back to home
      </button>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
