<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <div class="main-flex">
                <form method="post" action="/exit" id="regForm">
                    <label>Please remove your name from the fire register</label>
                    <div class="name-flex">
                        <h3>First Name:</h3>
                        <input type="text" name="firstName" placeholder="..." required>
                    </div>
                    <div class="name-flex">
                        <h3>Last Name:</h3>
                        <input type="text" name="lastName" placeholder="..." required>
                    </div>
                </form>
                <button class="submit-btn" type="submit" form="regForm" value="Submit" id="submitButton">Submit</button>
                <button class="go-back-btn" onclick="location.href='/'">Back to home</button>
            </div>
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>
