<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <div class="main-flex">
                <h2 class="hello">Hello, welcome!</h2>
                <div class="enter-exit-btn-flex">
                    <button onclick="location.href='/enter'">Enter</button> 
                    <button onclick="location.href='/exit'">Exit</button>
                </div>
            </div>
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>
