
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <div class="main-flex">
                <h2>The following visitors are on site:</h2>

                <ul>
                        <% registers.forEach(function(person){ %>
                    <li><%= person.firstName %> <%= person.lastName %> - <%= person.entryTime.toLocaleString() %></li>
                        <% }) %>
                </ul>
                
            </div>
            
        </main>   
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>
