
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <div class="main-flex">
                <h3>Oops! No match found on the register.</h2>
                <button class="try-again-btn" onclick="location.href='/exit'">Try again</button>      
                <button class="go-back-btn" onclick="location.href='/'">Back to home</button>
            </div>
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>
